{% extends "auctions/layout.html" %} {% block body %}
<h3>Closed Listings</h3>

<!-- Closed Listings -->
<div class="row pt-3">
    {% for listing in closed_listings %}
    <div class="card m-3" style="width: 13rem">
        <img src="{{ listing.img_url }}" class="card-img-top" alt="{{ listing.title }}"/>
        <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.description }}</p>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary">See More</a>
        </div>
    </div>
    {% empty %}
    <div>No closed listings.</div>
    {% endfor %}
</div>

{% endblock %}
